
            /* override bootstrap styles */
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.navbar-form input, .form-inline input {
  width:auto;
}

body {
	margin-left:100px; margin-right:100px;
	background-image:url('do.jpg');
}
}

html > * {
	font-family: 'Droid Arabic Naskh', serif;
}

h1,h2,h3,.highlight,#masthead h4, .navbar-nav > li > a, .navbar-brand, .dropdown-header {
  margin-top: 0pt;
  font-family:'Droid Arabic Kufi', serif;
}

footer {
  z-index: 1000;
  padding-top:40px;
  padding-bottom:40px;
  background:#07CB8A  url('bootstrap/img/pixcel.png');
  border-top: 3pt solid #50CBA1;
  box-shadow: 0px -0px 20px rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0px -0px 20px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0px -0px 20px rgba(0, 0, 0, .9);
}


#masthead {
  min-height:199px;
  background: #004405 url('img/8.png') 80%;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#11664F;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:silver;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:silver;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background: #09AD75 url('img/do.jpg');
  color: silver;
  margin-bottom: 0;
  border-width: 0;
  border-bottom: 3pt solid #50CBA1;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0px 1px 20px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0px 1px 20px rgba(0, 0, 0, .9);
}

.navbar-bright .navbar-brand {
	position: relative;
	right: -10pt;
	top: -10pt;
	border-radius: 50pt;
	height: 90pt;
	background: rgba(255, 255, 255, 1);
	border-bottom: 3pt solid #50CBA1;
	box-shadow: 0px 3px 17px rgba(0, 0, 0, .9);
	-webkit-box-shadow: 0px 3px 17px rgba(0, 0, 0, .9);
	-moz-box-shadow: 0px 3px 17px rgba(0, 0, 0, .9);
}
	.navbar-bright .navbar-brand:hover {
		background: rgba(255, 255, 255, 1);
		box-shadow: 0px 3px 17px rgba(80, 203, 161, .9);
		-webkit-box-shadow: 0px 3px 17px rgba(80, 203, 161, .9);
		-moz-box-shadow: 0px 3px 17px rgba(80, 203, 161, .9);
	}
	
.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#fff;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:silver;
}

.navbar-toggle {
  color:silver;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#50CBA1;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
.carousel-caption  {
	text-align: right;
	padding: 20pt;
	background: rgba(0, 0, 0, .6);
	color: #90EE90;
}
	.carousel-caption .btn, carousel-caption .btn-primary {
		background: #07CB8A url('bootstrap/img/do.jpg');
		border: 1pt solid #90EE90; 
	}
    



.navbar-bright li a:hover, .navbar-bright li.dropdown a:hover, .navbar-bright li.open > a {
  color: #fff;
  background-color:blue
}
 
	